name: Run Gradle on PRs

on: pull_request

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: '8'
    - uses: eskatos/gradle-command-action@v2
      name: Gradle check
      with:
        arguments: check